.footer {
  @include section;

  text-align: center;

  background-color: #2f303a;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__container {

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
.footer__tablet-wrapper {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    gap: 165px;
    margin-right: 74px;
    margin-left: 61px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  display: inline-block;

  color: var(--main-white);
}
.footer__link {
font-size: 14px;
line-height: 1.71;
font-style: normal;

  color: var(--main-white-opacity);

  transition: color 250ms var(--main-transition);

  &:hover,
  &:focus {
    color: var(--main-accent);
  }

  &--white {
    color: var(--main-white);
  }
}
.footer__list {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.footer__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__socials {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer-socials__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--main-white);
}
.footer-socials__list {
  display: flex;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--main-transition);

  &:hover,
  &:focus {
    background-color: var(--main-accent);
  }
}
.footer-socials__icon {
  fill: var(--main-white);
}
