.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;

    @media screen and (max-width:767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    
      }
}
.header__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--main-transition);

  &:focus,
  &:hover {
    color: var(--main-accent);
  }
}

.header-contact__group {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    align-items: unset;
  }
}

.header-contact__mail {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--main-light);

  margin-right: 50px;

  @media screen and (max-width: 1199px) {
    padding: 0;
    margin-right: 0;
  }
}
.header-contact__tel {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--main-light);

  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}
.header-contact__icon {
  fill: #757575;

  transition: fill 250ms var(--main-transition);

  .header-contact__mail:hover &,
  .header-contact__mail:focus &,
  .header-contact__tel:hover &,
  .header-contact__tel:focus & {
    fill: #2196f3;
  }
}
