.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // Mobile img
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_mobile-@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    -webkit-image-set(url(../images/hero/img_mobile-@1x.webp) 1x);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_mobile-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/img_mobile-@2x.webp) 2x);
  }
  // Tablet img
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_tablet-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/img_tablet-@1x.webp) 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_tablet-@2x.jpg);
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/hero/img_tablet-@2x.webp) 2x);
    }
  }
  // Desktop img
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_desktop-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/img_desktop-@1x.webp) 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_desktop-@2x.jpg);
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/hero/img_desktop-@2x.webp) 2x);
    }
  }
 
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__header {
  display: inline-block;
  margin-bottom: 30px;
  max-width: 360px;

font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  text-align: center;

  text-transform: uppercase;

  color: var(--main-white);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    letter-spacing: 1.15;
    max-width: 696px;
  }
}
.hero__button {
  display: block;
  padding: 10px 24px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
