.nav__container {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.nav__logo {
  margin-right: 93px;

  color: #000;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
}
.nav__list {
  display: flex;
  gap: 50px;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__link {
  color: var(--main-dark);
}
.nav__link--active {
  position: relative;

  color: var(--main-accent);

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--main-accent);
  }
}
