.team {
  @include section(60px);
  @media screen and(min-width:1200px) {
    @include section(94px);
  }

  background-color: var(--btn-light);
}
.team__header {
font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;

  text-align: center;

  
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;

    margin-bottom: 50px;
  }
}
.team__img {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-white);

  @media screen and(min-width:768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width:1200px) {
    width: auto;
  }
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;

 
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;

  text-align: center;
}
.team__description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  text-align: center;
  margin-bottom: 16px;

  color: var(--main-light);
}
// Team icons
.team__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: var(--main-white);
  border-radius: 50%;

  transition: background-color 250ms var(--main-transition);

  &:hover,
  &:focus {
    background-color: var(--main-accent);
  }
}

.team-socials__icon {
  fill: #afb1b8;

  transition: fill 250ms var(--main-transition);

  .team-socials__link:hover &,
  .team-socials__link:focus & {
    fill: var(--main-white);
  }
}
